<footer class="bg-gray-800 text-white py-6 mt-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <p class="text-center text-sm text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada.
    </p>
    <p class="text-center text-sm text-gray-400 mt-4">
      &copy; <%= Time.current.year %> THE APP. All rights reserved.
    </p>
  </div>
</footer>
