<header class="bg-[#c1dbcc] text-white py-8 shadow-md"> <!-- Increased padding on y-axis for more height -->
  <div class="max-w-full mx-auto px-6 sm:px-8 lg:px-12 flex items-center justify-between h-1"> <!-- Added fixed height -->

    <!-- Burger Menu (if needed, you can uncomment and style it here) -->

    <!-- Logo and App Name in the Center -->
    <div class="absolute left-1/2 transform -translate-x-1/2">
      <%= link_to root_path, class: "flex items-center space-x-4" do %>
        <!-- App Name -->
        <%= image_tag "Shwappie.png", alt: "Card Info", class: "h-14" %>
      <% end %>
    </div>

  </div>
</header>
